<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div style="display:flex; justify-content:center">
        <table style="width:50%;">
                <thead style="background-color:dimgrey; width:100">
                    <tr style="">
                        <th style="color:yellow;text-align: center;">First Name</th>
                        <th style="color:yellow;text-align: center;">Last Name</th>
                        <th style="color:yellow;text-align: center;">Full Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td style="text-align: center">{{user['first_name']}}</td>
                        <td style="text-align: center">{{user['last_name']}}</td>
                        <td style="text-align: center">{{user['first_name']+" "+user['last_name']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
    
</body>
</html>